{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Pacifico&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawsome/css/all.min.css' %}">
    <title>My Kids - Create</title>
    <style>
        .font {
            font-family: 'Balsamiq Sans', cursive;
        }
        .navbar {
            background-color: #FFEB94;
        }
        #form {
            margin-top: 30px;
        }
        .btn {
            background-color: #FFEB94;
            width: 100%;
        }
    </style>
  </head>
  <body class="font">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">MY KIDS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'homepage' %}">Beranda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Buat Akta</a>
              </li>
          </div>
        </div>
      </nav>

    <!-- FORM -->
      <section id="form">
          <div class="container">
              <div class="row justify-content-center">

                  <div class="col-md-10">
                    <h1 class="text-center">Form Pembuatan Akta Kelahiran</h1> <br>

                    <form method="post">
                      {% csrf_token %}

                      <h3>Data Pelapor</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nama Pelapor</label>
                                    {{form.nama_pelapor}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nomor KK Pelapor</label>
                                    {{form.no_kk_pelapor}}
                                  </div>
                            </div>
                        </div><div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">NIK Kepala Keluarga Pelapor</label>
                                  {{form.nik_kepala_keluarga_pelapor}}
                                </div>
                          </div>
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">NIK Pelapor</label>
                                  {{form.nik_pelapor}}
                                </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Hubungan Keluarga</label>
                            {{form.hubungan_keluarga}}
                          </div>
                      </div> <br><br>

                      <h3>Data Keluarga</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nomor Kartu Keluarga</label>
                                    {{form.no_kk}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">NIK Kepala Keluarga</label>
                                    {{form.nik_kepala_keluarga}}
                                  </div>
                            </div>
                        </div> <br><br>

                        <H3>Data Anak</H3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nama Anak</label>
                                    {{form.nama_anak}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">NIK Anak</label>
                                    {{form.nik_anak}}
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nomor KK</label>
                                    {{form.nomor_kk}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Anak Ke</label>
                                    {{form.anak_ke}}
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tempat Lahir</label>
                                    {{form.tempat_lahir}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tanggal Lahir</label>
                                    {{form.tgl_lahir}}
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Jam</label>
                                  {{form.jam}}
                                </div>
                          </div>
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label class="form-label">Berat Badan</label>
                                  {{form.bb}}
                                </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Tinggi Badan</label>
                                {{form.tb}}
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Rumah Sakit</label>
                                {{form.rumah_sakit}}
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <div class="mb-3">
                              <label class="form-label">Penolong Kelahiran</label>
                              {{form.penolong_kelahiran}}
                            </div>
                      </div>
                      <div class="col-md-6">
                          <div class="mb-3">
                              <label class="form-label">Agama</label>
                              {{form.agama}}
                            </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Jenis Kelamin</label>
                            {{form.jenis_kelamin}}
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Jenis Kelahiran</label>
                            {{form.jenis_kelahiran}}
                          </div>
                    </div>
                </div> <br> <br>

                        <h3>Data Ayah</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nama Ayah</label>
                                    {{form.nama_ayah}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">NIK Ayah</label>
                                    {{form.nik_ayah}}
                                  </div>
                            </div>
                        </div> <br><br>

                        <h3>Data Ibu</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nama Ibu</label>
                                    {{form.nama_ibu}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">NIK Ibu</label>
                                    {{form.nik_ibu}}
                                  </div>
                            </div>
                        </div> <br><br>

                        <h3>Data Saksi</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nama Saksi</label>
                                    {{form.nama_saksi}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">NIK Saksi</label>
                                    {{form.nik_saksi}}
                                  </div>
                            </div>
                        </div> <br><br>

                        <h3>Dokumen</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Surat Kelahiran</label> <br>
                                    {{form.surat_kelahiran}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Akta Nikah</label> <br>
                                    {{form.akta_nikah}}
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <label class="form-label">Kartu Keluarga</label> <br>
                                {{form.kk}}
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">KTP Ayah</label> <br>
                                    {{form.ktp_ayah}}
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">KTP Ibu</label> <br>
                                    {{form.ktp_ibu}}
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">KTP Saksi</label> <br>
                                    {{form.ktp_saksi}}
                                  </div>
                            </div>
                        </div> <br>


                        <button type="submit" class="btn">Kirim</button>

                    </form>

                  </div>

              </div>
          </div>
      </section> <br>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>